$font: "Roboto", sans-serif;
$evenBgColor:#e8eaf74f;
$gradient: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
$blueColor: #7380d9;
body {
  background: #fff;
  font-family: $font;
  .col-centered {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .sectionOne {
    position: relative;
    height: 100vh;
    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .bdr {
      position: absolute;
      left: 0;
      width: 10px;
      display: block;
      height: 100vh;
      background-image: $gradient;
      @media only screen and (max-width: 767px) {
        width: 5px;
      }
    }
    .section_one_wrapper {
      padding: 100px 50px;
      margin: 50px auto;
      width: 80%;
      position: relative;
      z-index: 1;
      background-image: $gradient;
      border-radius: 20px;
      @media only screen and (max-width: 767px) {
        padding: 50px 30px;
        margin: 30px auto;
      }
      .profile_info {
        .name_wrapper {
          h4 {
            font-family: $font;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #fff;
            @media only screen and (max-width: 767px) {
              font-size: 18px;
              line-height: 22px;
            }
          }
          h1 {
            font-family: "Roboto", sans-serif;
            font-size: 70px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            margin: 60px 0 40px 0;
            @media only screen and (max-width: 767px) {
              font-size: 32px;
              line-height: 38px;
            }
          }
          span {
            font-family: $font;
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #fff;
            @media only screen and (max-width: 767px) {
              font-size: 24px;
              line-height: 28px;
            }
          }
        }
        .social_info_wrap {
          ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin-top: 30px;
            li {
              margin-right: 20px;
              svg {
                width: 30px;
                height: 30px;
                opacity: 0.5;
                fill: #fff;
                &:hover {
                  opacity: 1;
                }
                &.linkedin {
                  width: 40px;
                  height: 40px;
                }
              }
            }
          }
        }
      }
    }
    .section_one_bg {
      .profile_image {
        background: url("../img/section1.png") no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 847px;
        height: 870px;
        background-size: 84%;
        background-position: 100% 0;
      }
      svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 700px;
        height: 700px;
        background-position: 100% 0;
        fill: #7380d9;
      }
    }
  }
  .sectionTwo {
    position: relative;
    padding-top: 100px;
    background: $evenBgColor;
    @media only screen and (max-width: 767px) {
      padding-top: 50px;
    }
    .bdr {
      position: absolute;
      right: 0;
      background: $blueColor;
      width: 10px;
      display: block;
      top: 0;
      bottom: 0;
      @media only screen and (max-width: 767px) {
        width: 5px;
      }
    }
    .section_name {
      position: absolute;
      left: 0px;
      top: -50px;
      @media only screen and (max-width: 767px) {
        top: -25px;
      }
      span {
        opacity: 0.15;
        font-family: $font;
        font-size: 180px;
        font-weight: 500;
        color: #7380d9;
        @media only screen and (max-width: 767px) {
          font-size: 100px;
        }
      }
    }
    .section_two_wrapper {
      header {
        margin-bottom: 60px;
        h3 {
          font-family: $font;
          font-size: 50px;
          font-weight: bold;
          color: #f70236;
          text-transform: uppercase;
          margin: 0;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .description {
        font-family: $font;
        p {
          font-family: $font;
          font-size: 24px;
          font-weight: 500;
          color: #585555;
          margin-bottom: 30px;
          @media only screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 24px;
          }
        }
        .basic_info_list {
          display: inline-block;
          ul {
            list-style: none;
            padding: 0;
            li {
              display: block;
              border-bottom: solid 1px rgba(115, 128, 217, 0.2);
              padding: 15px 0;
              &:last-child {
                border-bottom: none;
              }
              span {
                font-weight: 500;
                &.title {
                  font-size: 24px;
                  color: #1e1c24;
                  width: 200px;
                  margin-right: 100px;
                  display: inline-block;
                  @media only screen and (max-width: 767px) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-right: 0;
                    width: 100px;
                  }
                }
                &.detail {
                  font-size: 24px;
                  color: #7380d9;
                  @media only screen and (max-width: 767px) {
                    font-size: 18px;
                    line-height: 24px;
                  }
                }
              }
            }
          }
        }
        a {
          &.resume {
            font-family: $font;
            font-size: 30px;
            font-weight: 400;
            color: #ececec;
            border-radius: 100px;
            background-color: #7380d9;
            display: inline-block;
            padding: 10px 30px;
            margin: 60px 0;
            @media only screen and (max-width: 767px) {
              font-size: 18px;
              line-height: 24px;
              margin: 20px 0;
              padding: 5px 15px;
            }
          }
        }
      }
    }
    .section_two_bg {
      .profile_image {
        background: url("../img/section2.png") no-repeat;
        position: absolute;
        top: 130px;
        right: 15px;
        width: 570px;
        height: 636px;
        background-size: 90%;
        background-position: 100% 0;
      }
      svg {
        position: absolute;
        top: 230px;
        right: 15px;
        width: 500px;
        height: 500px;
        fill: #7380d9;
      }
    }
  }
  .sectionThree {
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px; 
    @media only screen and (max-width: 767px) {
      padding-top: 50px;
    }
    .bdr {
      position: absolute;
      left: 0;
      background-image: $gradient;
      width: 10px;
      display: block;
      top: 0;
      bottom: 0;
    }
    .section_name {
      position: absolute;
      right: 0px;
      top: -50px;
      @media only screen and (max-width: 767px) {
        top: -25px;
      }
      span {
        opacity: 0.15;
        font-family: $font;
        font-size: 180px;
        font-weight: 500;
        color: #f70236;
        @media only screen and (max-width: 767px) {
          font-size: 100px;
        }
      }
    }
    .section_three_wrapper {
      header {
        margin-bottom: 60px;
        h3 {
          font-family: $font;
          font-size: 50px;
          font-weight: bold;
          color: #f70236;
          text-transform: uppercase;
          margin: 0;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .description {
        font-family: $font;
        .skill_list {
          .languages,
          .tools {
            margin-bottom: 50px;
            @media only screen and (max-width: 767px) {
              margin-bottom: 30px;
            }
            h4 {
              float: left;
              margin-right: 40px;
              width: 200px;
              @media only screen and (max-width: 767px) {
                float: none;
                margin-right: 0;
                width: 100%;
                margin-bottom: 20px;
                display: block;
              }
            }
            ul {
              padding: 0;
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              width: calc(100% - 300px);
              @media only screen and (max-width: 767px) {
                width: 100%;
                padding: 10px;
              }
              li {
                display: inline-block;
                margin: 0 30px 30px 0;
                @media only screen and (max-width: 767px) {
                  margin-right: 10px;
                }
                svg {
                  width: 60px;
                  height: 60px;
                  @media only screen and (max-width: 767px) {
                    width: 30px;
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sectionFour {
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
    background: $evenBgColor;
    @media only screen and (max-width: 767px) {
      padding-top: 50px;
    }
    .bdr {
      position: absolute;
      right: 0;
      background: $blueColor;
      width: 10px;
      display: block;
      top: 0;
      bottom: 0;
    }
    .section_name {
      position: absolute;
      left: 0px;
      top: -50px;
      @media only screen and (max-width: 767px) {
        top: -25px;
      }
      span {
        opacity: 0.15;
        font-family: $font;
        font-size: 180px;
        font-weight: 500;
        color: #7380d9;
        @media only screen and (max-width: 767px) {
          font-size: 100px;
        }
      }
    }
    .section_four_wrapper {
      header {
        margin-bottom: 60px;
        h3 {
          font-family: $font;
          font-size: 50px;
          font-weight: bold;
          color: #f70236;
          text-transform: uppercase;
          margin: 0;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .experience_list_wrapper {
        .experience_list {
          font-family: $font;
          margin-bottom: 50px;
          .year_info {
            position: relative;
            width: 150px;
            span.year {
              background-color: #d1d1d1;
              font-size: 24px;
              line-height: 24px;
              font-weight: 500;
              width: 150px;
              color: #ffffff;
              display: inline-block;
              padding-top: 9px;
              height: 40px;
              text-align: center;
              position: relative;
              @media only screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 24px;
              }
            }
            .dotted {
              position: absolute;
              top: 58px;
              left: 70px;
              span {
                background: #7380d9;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                display: block;
                margin-bottom: 10px;
              }
            }
          }
          .company_info {
            margin-top: -5px;
            @media only screen and (max-width: 767px) {
              margin-top: 20px;
            }
            h4 {
              font-size: 24px;
              line-height: 28px;
              font-weight: 500;
              color: #7380d9;
              margin: 0;
              @media only screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 24px;
              }
            }
            p {
              font-size: 20px;
              line-height: 30px;
              font-weight: 400;
              color: #a0a0a0;
              @media only screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
          .logo {
            margin-left: 50px;
            img {
              max-width: 100%;
            }
            @media only screen and (max-width: 767px) {
              margin-left: 0;
              margin-top: 20px;
            }
            &.college {
              img {
                position: absolute;
                top: -45px;
                @media only screen and (max-width: 767px) {
                  position: relative;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .sectionFive {
    position: relative;
    padding-top: 100px;
    padding-bottom:60px; 
    @media only screen and (max-width: 767px) {
      padding-top: 50px;
    }
    .bdr {
      position: absolute;
      left: 0;
      background-image: $gradient;
      width: 10px;
      display: block;
      top: 0;
      bottom: 0;
    }
    .section_name {
      position: absolute;
      right: 0px;
      top: -50px;
      @media only screen and (max-width: 767px) {
        top: -25px;
      }
      span {
        opacity: 0.15;
        font-family: $font;
        font-size: 180px;
        font-weight: 500;
        color: #f70236;
        @media only screen and (max-width: 767px) {
          font-size: 100px;
        }
      }
    }
    .section_five_wrapper {
      header {
        margin-bottom: 60px;
        h3 {
          font-family: $font;
          font-size: 50px;
          font-weight: bold;
          color: #f70236;
          text-transform: uppercase;
          margin: 0;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .portfolio_list {
        .portfolio_info {
          margin-bottom: 30px;
          .portfolio_img {
            position: relative;
            overflow: hidden;
            height: 350px;
            @media only screen and (max-width: 991px) {
              height: 250px;
            }
            @media only screen and (max-width: 767px) {
              height: 200px;
            }
            .overlay {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              &.primary {
                background: $gradient;
                background-image: $gradient;
              }
              &.secondary {
                background-color: rgba(115, 127, 217, 0.8);
              }

              .border {
                border: 2px solid rgba(255, 255, 255, 0.8);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: 20px;
              }
              .description {
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 46%;
                h3 {
                  font-family: $font;
                  font-size: 30px;
                  font-weight: 500;
                  color: #ffffff;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .sectionSix {
    position: relative;
    padding-top: 100px;
    padding-bottom:60px; 
    background: $evenBgColor;
    @media only screen and (max-width: 767px) {
      padding-top: 50px;
    }
    .bdr {
      position: absolute;
      right: 0;
      background: #7380d9;
      width: 10px;
      display: block;
      top: 0;
      bottom: 0;
    }
    .section_name {
      position: absolute;
      left: 0px;
      top: -50px;
      @media only screen and (max-width: 767px) {
        top: -25px;
      }
      span {
        opacity: 0.15;
        font-family: $font;
        font-size: 180px;
        font-weight: 500;
        color: #f70236;
        @media only screen and (max-width: 767px) {
          font-size: 100px;
        }
      }
    }
    .section_six_wrapper {
      header {
        margin-bottom: 60px;
        h3 {
          font-family: $font;
          font-size: 50px;
          font-weight: bold;
          color: #f70236;
          text-transform: uppercase;
          margin: 0;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .portfolio_list {
        .portfolio_info {
          margin-bottom: 30px;
          .portfolio_img {
            position: relative;
            overflow: hidden;
            height: 350px;
            @media only screen and (max-width: 991px) {
              height: 250px;
            }
            @media only screen and (max-width: 767px) {
              height: 200px;
            }
            .overlay {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              &.primary {
                background: linear-gradient(to right, #ed6ea0 0%, #ec8c69b3 100%);
                background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c6982 100%);
              }
              &.secondary {
                background-color: rgba(115, 127, 217, 0.8);
              }

              .border {
                border: 2px solid rgba(255, 255, 255, 0.8);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: 20px;
              }
              .description {
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 46%;
                h3 {
                  font-family: $font;
                  font-size: 30px;
                  font-weight: 500;
                  color: #ffffff;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .sectionSeven {
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
    @media only screen and (max-width: 767px) {
      padding-top: 50px;
    }
    .bdr {
      position: absolute;
      right: 0;
      background-image: $gradient;
      width: 10px;
      display: block;
      top: 0;
      bottom: 0;
    }
    .section_name {
      position: absolute;
      left: 0px;
      top: -50px;
      @media only screen and (max-width: 767px) {
        top: -25px;
      }
      span {
        opacity: 0.15;
        font-family: $font;
        font-size: 180px;
        font-weight: 500;
        color: #7380d9;
        @media only screen and (max-width: 767px) {
          font-size: 100px;
        }
      }
    }
    .section_six_wrapper {
      header {
        margin-bottom: 60px;
        h3 {
          font-family: $font;
          font-size: 50px;
          font-weight: bold;
          color: #f70236;
          text-transform: uppercase;
          margin: 0;
          @media only screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .description {
        font-family: $font;
        margin: 0 auto;
        display: table;
        .basic_info_list {
          display: inline-block;
          ul {
            list-style: none;
            padding: 0;
            li {
              display: block;
              padding: 10px 0;
              &:last-child {
                border-bottom: none;
              }
              span {
                font-weight: 500;
                &.title {
                  font-size: 24px;
                  color: #1e1c24;
                  width: 200px;
                  display: inline-block;
                  @media only screen and (max-width: 767px) {
                    display: block;
                  }
                  
                }
                &.detail {
                  font-size: 24px;
                  color: #7380d9;
                }
              }
            }
          }
        }
      }
      .contact_form_wrapper {
        padding: 30px;
        border-radius: 4px;
        background-color: rgba(120, 133, 219, 0.08);
        .form-control {
          text-transform: uppercase;
          border: none;
          border-radius: 0;
          font-size: 18px;
          font-weight: 400;
          color: #7380d9;
          padding: 25px 20px;
          box-shadow: none;
          margin-bottom: 30px;
          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #7380d9;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: #7380d9;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: #7380d9;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: #7380d9;
          }
          &#msg {
            height: 200px;
          }
          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

        button {
          font-size: 18px;
          font-weight: 400;
          color: #ececec;
          border-radius: 100px;
          background-color: #f70236;
          display: inline-block;
          padding: 10px 20px;
          text-align: right;
          float: right;
        }
      }
    }
  }
}
